<!-- Altered the Sign In from Devise View for Sign UP -->

<div class="container" style="padding-top: 150px;">
  <div class="row">
    <div class="col">
    <div class="title" style="font-size: 70px; font-weight: bold;">
      OdinBook <br>
      <div class="title" style="font-size: 30px; font-weight: bold;">A place to connect with friends and family. </div>
    </div>
    </div>
    <div class="col">
      <h2>Sign Up</h2>


<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>

  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name, autofocus: true, autocomplete: "name" %>
  </div>

  <div class="field">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
  </div>

  <div class="field">
    <%= f.label :password %>
    <% if @minimum_password_length %>
    <em>(<%= @minimum_password_length %> characters minimum)</em>
    <% end %><br />
    <%= f.password_field :password, autocomplete: "new-password" %>
  </div>

  <div class="field">
    <%= f.label :password_confirmation %><br />
    <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
  </div>

  <div class="actions" style="padding-top: 10px;">
    <%= f.submit "Sign Up" %>
  </div>
<% end %>

<%= render "devise/shared/links" %>
    </div>
  </div>
</div>

