<div class="title">
  <h2> <%= @user.name %> </h2>
</div>

<div class="container">
<div id="content" class="content p-0">
    <div class="profile-header">
        <div class="profile-header-cover"></div>
        <div class="title">
        <div class="profile-header-content">
            <div class="profile-header-img">
            
            <%= form_with(model: @user, local: true) do |form| %>
  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
        <% @user.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

      <div class="form-group">
    <% if @user.profile_picture.attached? && @user.profile_picture.representable? %>
      <%= image_tag @user.profile_picture.variant(resize: '500x500').processed %>
    <% else %>
      <div class="profile-picture no-profile-picture"></div>
    <% end %>
  </div>

     <%= @user.about %>
  
<% if current_user == @user %>
  <div class="actions">
    <%= link_to 'Edit Profile', edit_user_path(current_user), class: 'btn btn-primary' %>
  </div>
  <% else %> <!-- This will need to eventually be an elsif not already friend, with the else
            option being to unfriend.  -->
    <div class="actions">
      <%= form.submit "Add Friend", class: 'btn btn-primary' %>
    </div>
  <% end %>
<% end %>