<nav class="navbar navbar-expand-lg navbar-light" style="background-color: #e3f2fd;">
  <%= link_to "OdinBook", posts_path, class: "btn btn-primary" %>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav">
        <%= link_to "Connect", users_path, class: "nav-item nav-link active" %>
      <% if user_signed_in? %>
        <%= link_to "Pending Friend Requests (.count)", friend_requests_path, class: "nav-item nav-link active" %>
        <%= link_to "Profile", user_path(current_user), class: "nav-item nav-link active" %>
      <% end %>
    </div>


<ul class="navbar-nav ml-auto">
  <li class="nav-item">
    <% if user_signed_in? %>
      Signed in as <%= current_user.name %>. Not you?
      <%= link_to("Sign Out", destroy_user_session_path, method: :delete, class: "btn btn-primary") %>
    <% else %>
      <!-- <button class="btn btn-outline-primary" type="button">  <%= link_to "Sign In", new_user_session_path %> </button>
       <button class="btn btn-outline-primary" type="button">  <%= link_to "Sign Up", new_user_registration_path %> </button>
       -->
    <% end %>
  </li>
</ul>
  </div>
</nav>