<div class="title">
  <h2> Timeline </h2>
</div>

<!-- Below is for submitting a new post form -->
<div class="container">
  <div class="panel">
    <div class="panel-heading">
      <h3 class="panel-title">Activity Feed</h3>
    </div>
      <div class="panel-content panel-activity">
        <%= render 'form' %>

              <!-- Below is for displaying the new posts -->
              <ul class="panel-activity__list">
                  <% @posts.each do |post| %>
                  <li>
                  <i class="activity__list__icon fa fa-question-circle-o"></i>
                    <div class="activity__list__header">
                      <img src="https://bootdey.com/img/Content/avatar/avatar1.png" alt="" />
                      <%= link_to post.user.name, user_path(post.user) unless post.user.blank? %>
                    </div>
                      <div class="activity__list__body entry-content">
                      <p>
                        <%= post.content %>
                      </p>
                        <h3>Add a Comment:</h3>
                        <% @comments.each do |comment|%>
                        <p><%= comment.body %></p>
                        <% end %>
                        <%= render 'comments/form' %>
                      </div>
                      <div class="activity__list__footer">
                        <a href="#"> <i class="fa fa-thumbs-up"></i>123</a>
                        <a href="#"> <i class="fa fa-comments"></i>23</a>
                        <span> <i class="fa fa-clock"></i><%= time_ago_in_words post.created_at %></span>
                      </div>
                  </li>
                  <% end %>

                  <!-- Static posts below for examples -->
                  <li>
                      <i class="activity__list__icon fa fa-question-circle-o"></i>
                      <div class="activity__list__header">
                          <img src="https://bootdey.com/img/Content/avatar/avatar1.png" alt="" />
                          <a href="#">John Doe</a>
                      </div>
                      <div class="activity__list__body entry-content">
                          
                              <p>
                                  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatibus ab a nostrum repudiandae dolorem ut quaerat veniam asperiores, rerum voluptatem magni dolores corporis! Molestiae commodi nesciunt a,
                                  repudiandae repellendus ea.
                              </p>
                          
                      </div>
                      <div class="activity__list__footer">
                          <a href="#"> <i class="fa fa-thumbs-up"></i>123</a>
                          <a href="#"> <i class="fa fa-comments"></i>23</a>
                          <span> <i class="fa fa-clock"></i>2 hours ago</span>
                      </div>
                  </li>
                  <li>
                      <i class="activity__list__icon fa fa-image"></i>
                      <div class="activity__list__header">
                          <img src="https://bootdey.com/img/Content/avatar/avatar1.png" alt="" />
                          <a href="#">John Doe</a>
                      </div>
                      <div class="activity__list__body entry-content">
                          <ul class="gallery">
                              <li>
                                  <img src="https://bootdey.com/img/Content/avatar/avatar1.png" alt="" />
                              </li>
                              <li>
                                  <img src="https://bootdey.com/img/Content/avatar/avatar2.png" alt="" />
                              </li>
                              <li>
                                  <img src="https://bootdey.com/img/Content/avatar/avatar3.png" alt="" />
                              </li>
                              <li>
                                  <img src="https://bootdey.com/img/Content/avatar/avatar4.png" alt="" />
                              </li>
                          </ul>
                      </div>
                      <div class="activity__list__footer">
                          <a href="#"> <i class="fa fa-thumbs-up"></i>123</a>
                          <a href="#"> <i class="fa fa-comments"></i>23</a>
                          <span> <i class="fa fa-clock"></i>2 hours ago</span>
                      </div>
                  </li>
              </ul>
          </div>
      </div>
  </div>
</div>